body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333
}


.header, .footer {
    background-color: #007BFF; 
    color: white;
    padding: 20px;
    text-align: center;
}

.main-image {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 50px auto 20px;
    border-radius: 8px; 
}

.button {
    display: inline-block;
    padding: 10px 45px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin: 0px 0;
}
.content {
    padding: 5px;
    background-color: white;
    text-align: center;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.links a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
    width: 100%;
}

form input[type="number"],
form input[type="text"],
form input[type="email"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

form textarea {
    resize: vertical;
    height: 100px;
}

form input[type="number"]:focus,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="date"]:focus,
form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}

.canvas-container {
    margin-top: 30px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.chart-container {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.json-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}


.json-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.json-table th, 
.json-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.json-table th {
    background-color: #007BFF;
    color: white;
    font-weight: 500;
}

.json-table td {
    background-color: #f9f9f9;
    color: #333;
}

.json-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.json-title {
    font-size: 28px;
    font-weight: 500;
    color: #007BFF;
    margin-bottom: 20px;
}


.json-output {
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.json-scroll {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
